header{
    border-bottom: 2px solid var(--grey-6);
    margin-bottom: 22px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 92%;  
    margin: 0 auto;
    padding: 16px 0;

}

.cover-header{
    height: 100%;
}

.div-logo{
    display: flex;
    gap: 16px;
    align-items: center;
}

.div-ham{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.div-buttons{
    padding: 16px 0;
    gap: 6px;
    justify-content: space-between;
    display: none;
    background-color: var(--white);
    justify-content: space-around;
    box-shadow: 2px 6px 5px -4px var(--grey-3);
    position: fixed;
    width: 100%;
    transform: translateY(-2px);
    animation: menuBurger 0.4s ease-in;
    z-index: 1;
}

.div-buttons button{
    min-width: 140px;
    min-height: 40px;
    font-size: 15px;
}
.div-buttons .btn-login{
    background-color: transparent;
    border: 1px solid var(--brand-1);
    color: var(--brand-1);
    font-weight: 700;
}

.div-buttons .btn-register{
    background-color: var(--brand-1);
    color: var(--white);
    border: none;
}

.show{
    display: flex;
}

@keyframes menuBurger{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    80%{
        transform: translateY(0);
        opacity: 1;
    }
}

#burguer{
    background-color: transparent;
    border: none;
    font-size: var(--font-size-3);
}